#prog-massager {
    height: 400px;
    width: 400px;
    background-color: white;
    position: fixed;
    z-index: 1000000;
    bottom: 0;
    right: 20%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: 400ms;
    border: 1px solid whitesmoke;
}

#prog-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 400px;
    padding-left: 70px;
    padding-right: 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /*border:1px solid #b3b7bb;*/
    /*border-top: 1px solid #b3b7bb;*/
    /*border-right: 1px solid #b3b7bb;*/
    /*border-left: 1px solid #b3b7bb;*/
    /*background-color: white;*/
    color: #b3b7bb;
}

#prog-notify-count {
    color:#4cae4c;
}

#prog-context {
    height: 280px;
    width: 360px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    overflow: auto;
}

#prog-options {
    height: 40px;
    width: 360px;
}







